.App {
  position: relative;
  width: 100%;
  height: 100%;
}
.App a {
  text-decoration: none;
}

.logged-in {
  display: grid;
  grid-template-columns: 250px auto;
}

.App main {
  height: 100%;
}

.testing {
  background-color: rgb(130, 246, 174);
  background-color: rgb(97, 231, 255);
}
